$mainFontColor: #ce731e;
$navActiveTabBackround: rgba(13, 13, 13, 0.7);
$wins: rgb(43, 102, 9);
$losses: rgb(141, 27, 27);
$draws: rgb(8, 6, 90);
$aboutBackground: rgba(37, 33, 33, .94);
$errorBackground: rgb(199, 56, 56);
