.error {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;
	min-width: 250px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

	margin: 25px auto 15px auto;
	padding: 5px 15px 5px 15px;

	background-color: $errorBackground;

	border-radius: 20px;
	font-weight: 800;
}
